/* Basic initialization */

:root {
    /* Fonts */
    --font-header: 'Lato', sans-serif; /* 300 400 700 900 */
    --font-paragraph: 'Poppins', sans-serif; /* 300 400 500 */
    --font-logo: 'Dancing Script', cursive; /* 700 */

    /* Color */
    --color-primary: #48a53a;
    --color-secondary: #6369D1;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-white-2: #fafafa;
    --color-grey: #e6e6e6;

    /* Measures */
    --horizontal-gap: 5.5rem;
    --vertical-gap: 3rem;
}

.gap {
    padding: var(--vertical-gap) var(--horizontal-gap);
}

.divider {
    display: block;
    margin: auto;
}

/* ?Headings */

.heading--1 {
    font-family: var(--font-header);
    color: var(--color-white);
    font-size: 10rem;
    font-weight: 700;
}

.heading--2 {
    font-family: var(--font-header);
    color: var(--color-black);
    font-size: 5rem;
    font-weight: 300;
}

.heading--3 {
    font-family: var(--font-header);
    color: var(--color-black);
    font-size: 3.5rem;
    font-weight: 300;
    text-align: center;
}

.paragraph--main {
    font-size: 1.6rem;
    opacity: .5;
    font-weight: 400;
}

.highlight {
    font-weight: 900;
    color: var(--color-primary);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
a:visited,
a:active {
    text-decoration: none;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px;*/
}

body {
    font-family: var(--font-paragraph);
    color: var(--color-black);
    background-color: var(--color-white-2);

    position: relative;
}

/* NAVIGATION */

.navigation {
    width: 100%;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
}

.logo {
    font-family: var(--font-logo);
    font-size: 2.8rem;
    font-weight: 700;
    color: var(--color-white);
}

.navigation__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}

.navigation__item {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0 1.5rem;
    position: relative;
}

.navigation__link {
    color: var(--color-black);
    transition: color .2s ease;
}

.navigation__item:hover .navigation__link{
    color: var(--color-primary);
}

.navigation__item::before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: var(--color-primary);
    transition: width .2s ease;
}

.navigation__item:hover::before{
    width: 100%;
}

/* Header */

.header {
    height: 100vh;
    background: url(./assets/dots.svg) no-repeat top 10px right 8%,
                url(./assets/back-1-top.png) no-repeat top right,
                linear-gradient(rgba(72, 165, 58, 0.12),rgba(72, 165, 58, 0.12)),
                url(./assets/back-1-bottom.jpg) no-repeat center;
    background-size: 15%, contain, 100%, cover;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.header__h {
    margin-top: 4rem;
}

.header__paragraph {
    font-size: 1.8rem;
    color: var(--color-white);
    width: 40%;
}

.cta {
    display: inline-block;

    font-family: var(--font-header);
    font-weight: 900;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;

    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 3.5rem;
    border: 5px solid rgba(255,255,255,0);

    padding: 2rem 0;
    margin-top: 4rem;
    position: relative;
    overflow: hidden;
    width: 32.5rem;
}

.cta::before {
    content: "";
    position: absolute;
    display: block;
    width: 20%;
    height: 100%;
    background-color: rgba(0,0,0,0.1);
    right:  0;
    bottom: 0;

    transform: rotate(45deg);
    transition: all 0.2s ease-in;
}

.cta:hover::before {
    width: 200%;
    height: 400%;
}

/* Science Section */

.science {
    display: grid;
    grid-template-columns: repeat(2,50%);
    background-color: var(--color-white);
}

.science__content {
    padding-top: 9rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.science__h {
    margin-bottom: 1rem;
}

.science__paragraph {
    font-size: 1.6rem;
    width: 80%;
    opacity: .5;
}

.science__image {
    background: url(./assets/back-2.jpg) center;
    background-size: cover;
    min-height: 53rem;
}

/* Tips section */

.tips {
    background: url(./assets/dots.svg) no-repeat bottom 15rem right 0%,
                url(./assets/dots.svg) no-repeat bottom 6rem left 10%,
                url(./assets/dots.svg) no-repeat top 6rem right 40%;
    background-color: var(--color-white-2);
    background-size: 20%,17%,15%;
    padding-top: 8rem;
}

.tips__h {
    margin-bottom: 2.5rem;
}


.tips__paragraph {
    width: 50%;
    text-align: center;
    margin: auto;
}

.tips__container {
    width: 117rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(36rem,1fr));
    gap: 3.2rem;
    margin: 8rem auto;
}

.tips__item:nth-child(even) .tips__icon,
.tips__item:nth-child(even) .tips__icon::before,
.tips__item:nth-child(even):hover::before,   
.tips__item:nth-child(even):hover::after{    
    background-color: var(--color-primary);
}

.tips__item:nth-child(even):hover {
    border-color: var(--color-primary);
}

.tips__item:nth-child(odd) .tips__icon,
.tips__item:nth-child(odd) .tips__icon::before,
.tips__item:nth-child(odd):hover::before, 
.tips__item:nth-child(odd):hover::after{    
    background-color: var(--color-secondary);
}

.tips__item:nth-child(odd):hover {
    border-color: var(--color-secondary);
}

.tips__item {
    background-color: var(--color-white);
    border: 0.5px solid var(--color-grey);
    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 6.5rem 5rem;

    transition: border-color .2s ease-in-out;
    overflow: hidden;
}

.tips__item::before,
.tips__item::after {
    content: "";
    position: absolute;
    display: block;
    background-color: transparent;
    width: 10rem;
    height: 10rem;
    transition: all .2s ease-in-out;
    transform: rotate(45deg);
}

.tips__item::before {
    left: -5rem;
    top: -5rem;
}

.tips__item::after {
    right: -5rem;
    bottom: -5rem;
}

.tips__icon {
    border-radius: 100%;
    width: 8.8rem;
    height: 8.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2.5rem;
    position: relative;
    z-index: 2;
}

.tips__icon::before {
    content: "";
    position: absolute;
    display: block;
    border-radius: 100%;

    opacity: .55;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: all .2s ease-in-out;
}

.tips__item:hover .tips__icon::before {
    width: 120%;
    height: 120%;
}

.tips__image {
    width: 50%;
}

.tips__title {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 1.5rem;
}

.tips__text {
    font-size: 1.6rem;
    font-weight: 300;
    text-align: center;
    opacity: .65;
}

/* Branches section */

.branches {
    background: url(./assets/dots.svg) no-repeat top 10px left 28%;
    background-size: 15%;
    background-color: var(--color-white-2);
    padding-top: 5rem;
}

.branches__paragraph {
    width: 60%;
    margin: 2rem auto;
    text-align: center;
}

.branches__container{
    margin-top: 6rem;
}

.branches__item {
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.branches__content {
    padding-top: 8rem;
    padding-bottom: 8rem;
    padding-left: 8rem;
    background-color: var(--color-white);
}

.branches__item-header{
    margin-bottom: 2rem;
}

.branches__item-paragraph {
    width: 80%;
}

.branches__image--1{
    background: url(./assets/branch-1.jpg);
}
.branches__image--2{
    background: url(./assets/branch-2.jpg);
}
.branches__image--3{
    background: url(./assets/branch-3.jpg);
}

.branches__image {
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
}

.branches__image::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-primary);
    opacity: .28;
    z-index: 1;
}

.branches__title {
    font-size: 6rem;
    color: var(--color-white);
    font-weight: 900;
    z-index: 2;
}